{{!-- Step 7: add a button before map div. --}}
{{!-- Step 8: add onclick in the button calling the function created in mapScript.js --}}
<button onclick="addMarkertoGeorgian()">Mark</button>
<div id="map"></div>
<script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFjsW7Pc-uhoQhWvRpm1CbO1bibSf1yrk&callback=initMap">
</script>